body {
    font-family: 'Roboto', sans-serif;
    
    background-image: url(/imagenes/dragon.jpg);
     
}

h1 {
    text-align: center;
    margin: 2rem;
    color: rgb(184, 43, 43);
    text-shadow: 2px 2px 2px rgb(0, 0, 0, 0.46);
}