div { border-radius: 5px; }


.izquierda { float: left; background-color:blue

.derecha { float: right; background-color: rgb(240, 240, 240); width: 78%; height: 800px; margin-top: 55px; margin-bottom: 10px; border: 2px groove white; }



h4 { color:aqua; }



.foto{
    width: 110px;
    border-radius: 30px;
    position:relative;
    top: 20 px;
    text-align: center;
}